<!DOCTYPE html>
<html>
<head>
  <title><%= user ? 'Edit' : 'Tambah' %> User</title>
  <link rel="stylesheet" href="/css/addeditManagement.css">
</head>
<body>
  <div class="container">
  <h2><%= user ? 'Edit' : 'Tambah' %> User</h2>
  <form method="POST" action="/admin/users/save<%= user ? '/' + user._id : '' %>">
    <label>Nama:</label><br>
    <input type="text" name="name" value="<%= user ? user.name : '' %>" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>Role:</label><br>
    <select name="role">
      <option value="user" <%= user && user.role === 'user' ? 'selected' : '' %>>User</option>
      <option value="admin" <%= user && user.role === 'admin' ? 'selected' : '' %>>Admin</option>
    </select><br><br>

    <label>Sudah Lihat Intro?</label><br>
    <select name="hasSeenIntro">
      <option value="true" <%= user && user.hasSeenIntro ? 'selected' : '' %>>Ya</option>
      <option value="false" <%= user && !user.hasSeenIntro ? 'selected' : '' %>>Tidak</option>
    </select><br><br>

    <button type="submit">Simpan</button>
  </form>
  <a href="/admin/users">Kembali</a>
  </div>
</body>
</html>
